<div class="panel panel-default panel-wrapper">
    <div class="pull-right button-panel">
        <dx-button (onClick)="add()" icon="fa fa-plus" type="default"></dx-button>
        <dx-button [disabled]="!selectedItems.length" (onClick)="edit()" icon="fa fa-pencil-square-o" type="success"></dx-button>
        <dx-button [disabled]="!selectedItems.length" (onClick)="designs()" icon="fa fa-server"></dx-button>
        <dx-button type="danger" id="gridDeleteSelected"
            icon="fa fa-trash"
            [disabled]="!selectedItems.length"
            (onClick)="delete()">
        </dx-button>
    </div>
    <div id="table-container">
        <div id="table" class="table-responsive pmd-card pmd-z-depth ">               
            <dx-data-grid id="listtypeContainer"
                [dataSource]="listtypes"
                keyExpr="id"
                (onRowPrepared)="onRowPrepared($event)"
                (onSelectionChanged)="selectionChanged($event)"
                [showRowLines]="true"
                >
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxi-column dataField="code"caption="Mã loại danh mục"></dxi-column>
                <dxi-column dataField="name" caption="Tên loại danh mục"></dxi-column>
                <dxi-column dataField="status" [calculateCellValue]="setStatus" alignment="center" caption="Trạng thái"></dxi-column>
                <dxi-column dataField="order"alignment="center" caption="Thứ tự"></dxi-column>
                <dxo-remote-operations [sorting]="true" [paging]="true"></dxo-remote-operations>
                <dxo-paging [pageSize]="15"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 50, 100]"></dxo-pager>
            </dx-data-grid>
        </div>
    </div>
</div>