<div class="pull-left">
    <div class="dx-field-label">Chọn danh mục</div>
    <div class="dx-field-value">
        <dx-select-box
            (onValueChanged)="listChanged($event)"
            [dataSource]="listtypeLabel"
            displayExpr="name"
            valueExpr="Id"
            [value]="listtypeId"
            [searchEnabled]="true"
        ></dx-select-box>
    </div>
</div>
<div class="pull-right button-panel">
    <dx-button (onClick)="add()"  icon="fa fa-plus" text="" type="default"></dx-button>
    <dx-button [disabled]="!selectedItems.length" (onClick)="edit()" icon="fa fa-pencil-square-o" type="success"></dx-button>
    <dx-button [disabled]="!selectedItems.length" (onClick)="delete()"  icon="fa fa-trash" text="" type="danger"></dx-button>
</div>
<div id="table-container">
    <div id="table" class="table-responsive pmd-card pmd-z-depth ">
        <dx-data-grid  id="listContainer" [dataSource]="lists"
            (onRowPrepared)="onRowPrepared($event)"
            (onSelectionChanged)="selectionChanged($event)" [showRowLines]="true">    
            <dxo-selection mode="multiple"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxi-column dataField="code" caption="Mã danh mục đối tượng"></dxi-column>
            <dxi-column dataField="name" caption="Tên danh mục đối tượng"></dxi-column>
            <dxi-column dataField="order" caption="Thứ tự"></dxi-column>
            <dxi-column dataField="group" caption="Cấp đơn vị"></dxi-column>
            <dxi-column dataField="status" [calculateCellValue]="setStatus" caption="Tình trạng"></dxi-column>
            <dxo-remote-operations [sorting]="true" [paging]="true"></dxo-remote-operations>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>
        </dx-data-grid>
    </div>
</div>