@each $color, $value in $theme-colors {
  .modal-#{$color} {

    .modal-content {
      border-color: $value;
    }

    .modal-header {
      color: #fff;
      background-color: $value;
    }
  }
}

.modal-hg {
  max-width: 100%;
  margin: 0px;
}
.modal {
  background: #00000045;
}
