.sign-in {
    padding-top:10px;
    padding-bottom:8px;
    background-color:#4C9A39;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    color:#fff;
    font-size:20px;
    float:left;
}