<form id="form-list-update" id="form">
    <div class="modal-header">
        <h2 class="modal-title" style="font-size: 20px;font-family: initial;">Cập nhật đối tượng điều tra</h2>
        <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-2"> <label>Họ và tên</label><span style="color: red;">*</span></div>
            <div class="col-md-4">
                <dx-text-box [(value)]="name" placeholder="Nhập họ tên">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Họ và tên không được để trống">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div class="col-md-2"> <label>Giới tính</label></div>
            <div class="col-md-4">
                <dx-select-box (onSelectionChanged)="changeSex($event)" [value]="sex" [dataSource]="list_sex"
                    displayExpr="name" placeholder="Chọn giới tính" [showClearButton]="true" valueExpr="code">
                </dx-select-box>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-2"> <label>Email</label><span style="color: red;">*</span></div>
            <div class="col-md-4">
                <dx-text-box [(value)]="email" placeholder="Nhập email">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Email không được để trống">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="email" message="Không đúng định dạng email">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div class="col-md-2"> <label>Số điện thoại</label></div>
            <div class="col-md-4">
                <dx-text-box [(value)]="phone" placeholder="Nhập số điện thoại"></dx-text-box>
            </div>
        </div>
        <br>
        <!-- Phiếu 05, 06 -->
        <div class="row" *ngIf="system_list_code == 'LANH_DAO_CAP_HUYEN' || system_list_code == 'LANH_DAO_CAP_XA'">
            <div class="col-md-2">
                <label>Đánh giá đơn vị</label> <span style="color: red;">*</span>
            </div>
            <div class="col-md-10">
                <dx-tag-box #donvi [value]="unit_id_survey" [dataSource]="arrUnitSurvey"
                    *ngIf="system_list_code == 'LANH_DAO_CAP_HUYEN'"
                    (onValueChanged)="changeUnitSurvey($event)" displayExpr="name" placeholder="Chọn đơn vị đánh giá"
                    [showClearButton]="true" valueExpr="id">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Đơn vị đánh giá không được để trống">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-tag-box>
                <dx-select-box #donvi [value]="unit_id_survey" [dataSource]="arrUnitSurvey"
                    *ngIf="system_list_code == 'LANH_DAO_CAP_XA'"
                    (onSelectionChanged)="changeUnitSurvey($event)" displayExpr="name"
                    placeholder="Chọn đơn vị đánh giá"
                    [showClearButton]="true" valueExpr="id">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Đơn vị đánh giá không được để trống">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>
        <br *ngIf="system_list_code == 'LANH_DAO_CAP_HUYEN' || system_list_code == 'LANH_DAO_CAP_XA'">
        <!-- Hết phiếu 05, 06 -->
        <!-- Nếu đơn vị là SO_NGANH -> Hiển thị bộ lọc đơn vị cấp huyện -->
        <div class="row"
            *ngIf="dataUnit.capdonvi == 'SO_NGANH' && (system_list_code == 'LANH_DAO_CAP_HUYEN' || system_list_code == 'LANH_DAO_CAP_XA')">
            <div class="col-md-2">
                <label *ngIf="system_list_code == 'LANH_DAO_CAP_HUYEN'">Đơn vị công tác</label>
                <label *ngIf="system_list_code != 'LANH_DAO_CAP_HUYEN'">Cấp đơn vị</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-md-10">
                <dx-select-box #donvi [value]="unitLevel" [dataSource]="arrUnitLevel"
                    (onSelectionChanged)="changeUnitLevel($event)" displayExpr="name"
                    [placeholder]="system_list_code == 'LANH_DAO_CAP_HUYEN' ? 'Chọn đơn vị công tác' : 'Chọn cấp đơn vị'"
                    [showClearButton]="true" valueExpr="id">
                    <dx-validator>
                        <dxi-validation-rule type="required" [message]="system_list_code == 'LANH_DAO_CAP_HUYEN' ? 'Đơn vị công tác không được để trống' : 'Cấp đơn vị không được để trống'">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>
        <br
            *ngIf="dataUnit.capdonvi == 'SO_NGANH' && (system_list_code == 'LANH_DAO_CAP_HUYEN' || system_list_code == 'LANH_DAO_CAP_XA')">
        <!-- Hết  -->
        <div class="row">
            <div class="col-md-2">
                <label *ngIf="system_list_code != 'LANH_DAO_CAP_HUYEN' && system_list_code != 'LANH_DAO_CAP_XA'">Cơ quan
                    công tác</label>
                <label *ngIf="system_list_code == 'LANH_DAO_CAP_HUYEN'">Phòng chuyên môn</label>
                <label *ngIf="system_list_code == 'LANH_DAO_CAP_XA'">Đơn vị công tác</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-md-4">
                <dx-text-box [(value)]="unit_name"
                    *ngIf="system_list_code != 'LANH_DAO_CAP_HUYEN' && system_list_code != 'LANH_DAO_CAP_XA'"
                    placeholder="Nhập cơ quan công tác">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Cơ quan công tác không được để trống">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
                <dx-select-box #donvi [value]="unit_id" [dataSource]="arrUnit" (onSelectionChanged)="changeUnit($event)"
                    displayExpr="name"
                    [placeholder]="system_list_code == 'LANH_DAO_CAP_HUYEN' ? 'Chọn phòng chuyên môn' : (system_list_code == 'LANH_DAO_CAP_XA' ? 'Chọn đơn vị công tác' : 'Chọn cơ quan công tác')"
                    [showClearButton]="true" valueExpr="id"
                    *ngIf="system_list_code == 'LANH_DAO_CAP_HUYEN' || system_list_code == 'LANH_DAO_CAP_XA'">
                    <dx-validator>
                        <dxi-validation-rule type="required" [message]="system_list_code == 'LANH_DAO_CAP_HUYEN' ? 'Phòng chuyên môn không được để trống' : (system_list_code == 'LANH_DAO_CAP_XA' ? 'Đơn vị công tác không được để trống' : 'Cơ quan công tác không được để trống')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
            <div class="col-md-2"> <label>Chức vụ</label></div>
            <div class="col-md-4">
                <dx-text-box [(value)]="position_name" placeholder="Nhập chức vụ"></dx-text-box>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"> <label>Trình độ</label></div>
            <div class="col-md-4">
                <dx-select-box #donvi [value]="level" [dataSource]="arrLevel" (onSelectionChanged)="changeLevel($event)"
                    displayExpr="name" placeholder="Chọn trình độ chuyên môn" [showClearButton]="true" valueExpr="code">
                </dx-select-box>
            </div>
            <div class="col-md-2"> <label>Tuổi</label></div>
            <div class="col-md-4">
                <dx-number-box [(value)]="age" placeholder="Nhập tuổi">
                    <dx-validator>
                        <dxi-validation-rule type="numeric" message="Tuổi phải là số"></dxi-validation-rule>
                    </dx-validator>
                </dx-number-box>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <dx-button text="Cập nhật" type="default" [useSubmitBehavior]="true" (click)="onSubmit($event)">
        </dx-button>
        <dx-button text="Quay lại" (click)="bsModalRef.hide()">
        </dx-button>
    </div>
</form>