.dx-field-label{
    font-size: 14px;
}

::-webkit-input-placeholder {
    font-size: 13px;
    font-family: inherit;
}

.btn-primary{
    background-color: #337ab7;
    border-color: #337ab7;
}
#txt_search:focus{
    border-color:#337ab7;
}

::ng-deep .dx-datagrid .dx-column-lines > td{
    border-top: 1px solid #ddd;
}

::ng-deep .dx-datagrid-rowsview{
    border: none;
}
::ng-deep .dx-datagrid-borders > .dx-datagrid-headers{
    border-top:none;
}
::ng-deep .app-footer{
    border: none;
}
#table{
    border: none;
}
#table-container1{
    border: none;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }