<div style="display: flex;padding:5px">
  <div style="width: 85%;"><span style="font-size: 20px;font-family: none;font-weight: 600;">&nbsp;&nbsp; Danh sách menu</span></div>
  <div class="button-panel">
    <dx-button (onClick)="add()" icon="fa fa-plus" type="default"></dx-button>
    <dx-button [disabled]="!selectedItems.length"  (onClick)="edit()" icon="fa fa-pencil-square-o" type="success"></dx-button>
    <dx-button type="danger"
    icon="fa fa-trash"
    (onClick)="delete()">
    </dx-button>
  </div>
</div>
<div style="display: flex;">
  <div style="width: 30%;">
    <!-- <dx-tree-list
      id="tasks"
      [dataSource]="tasks"
      keyExpr="Task_ID"
      parentIdExpr="Task_Parent_ID"
      (onSelectionChanged)="selectionChangedMenu($event)"
      [expandedRowKeys]="[1, 2]"
      [selectedRowKeys]="[1, 29, 42]"
      [columnAutoWidth]="true"
      [wordWrapEnabled]="true"
      [showBorders]="true"
    >
      <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

      <dxi-column  dataField="Modules" [width]="300"></dxi-column>
      <div *dxTemplate="let options of 'employeeTemplate'">
        <span *ngIf="options.data.Task_Assigned_Employee" class="name">{{
          options.data.Task_Assigned_Employee.Name
        }}</span>
      </div>
    </dx-tree-list> -->
    <ul *ngFor="let group of tasks; index as i">
      <!-- <span class="font-weight-bold text-primary" [ngClass]="group.expand ? 'fas fa-caret-down' : 'fas fa-caret-right'"
      (click)="group.expand = !group.expand">{{group.value}}</span> -->
      <div class="nested-menu">
        <a class="nav-link nav-dropdown-toggle" mat-list-item (click)="onclickSidebar(group)">
            <!-- <i *ngIf="isIcon()" class="{{ group.icon }}"></i> -->
            <!-- <img class="sidebar-icon" *ngIf="isImages()" [src]="group.images" alt=""> -->
            <span class="sidebar-text" (click)="selectionChangedMenu(group,1)"><i class="fa fa-bars" aria-hidden="true"></i> <span style="font-size: 18px;color: #242c30;">{{ group.value }}</span></span>
            <!-- <span *ngIf="isBadge()" [ngClass]="'badge badge-' + link.badge.variant">{{ link.badge.text }}</span> -->
        </a>
        <ul class="nested submenu" [class.expand]="getShowHide(group)" style="margin-left: 8%;border-radius: 5px;font-size: 25px;">
              <ul *ngFor="let group_chill of group.children; index as i">
                <span class="sidebar-text"  (click)="selectionChangedMenu(group_chill,2)"><i class="fa fa-play" aria-hidden="true" style="font-size:15px"></i> <span style="font-size: 14px;color: #242c30;"> {{ group_chill.name }}</span></span>
              </ul>
        </ul>
      </div>
    </ul>
  </div>
  <div style="width: 70%;">
    <dx-data-grid
      [dataSource]="dataController_ct"
      [height]="600"
      [showBorders]="true"
      (onSelectionChanged)="selectionChanged($event)"
      >
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <!-- <dxo-group-panel [visible]="true"></dxo-group-panel> -->
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxi-column dataField="code" caption="Mã">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-lookup
          dataField="code"
          displayExpr="Text"
        ></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="name" caption="Tên">
        <dxo-lookup
          dataField="name"
          displayExpr="Text"
        ></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="url" caption="Url">
        <dxo-lookup
          dataField="url"
          displayExpr="Text"
        ></dxo-lookup>
      </dxi-column>
      <dxo-summary>
        <dxi-total-item column="Freight" summaryType="sum">
          <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
        </dxi-total-item>
        <dxi-group-item column="Freight" summaryType="sum">
          <dxo-value-format type="decimal" [precision]="2"></dxo-value-format>
        </dxi-group-item>
        <dxi-group-item summaryType="count"> </dxi-group-item>
      </dxo-summary>
    </dx-data-grid>
  </div>
</div>



