<form (submit)="onSubmit($event)" id="form" accept-charset="utf-8">
	<div class="modal-header">
		<h2 class="modal-title">CẬP NHẬT HỒ SƠ ĐỀ NGHỊ XET NÔNG THÔN MỚI</h2>
		<button type="button" class="close" aria-label="Close" (click)="goback()">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>
	<br>
	<div class="modal-body">
		<div class="row col-md-12" style="padding-left:120px">
			<div class="col-md-12 stepIndex">
				<div class="col-md-2 stepTab" (click)="selectTab(1)" [ngStyle]="{'color': colorTex1}">
					<div class="center-text">
						<span class="number-span">01</span>
						<br>
						<span>Cập nhật thông <br> tin hồ sơ</span>
					</div>
				</div>
				<div class="col-md-1 arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
				<div class="col-md-2 stepTab" (click)="selectTab(2)" [ngStyle]="{'color': colorTex2}">
					<div class="center-text">
						<span class="number-span">02</span>
						<br>
						<span>Cập nhật kết <br> quả thực hiện <br> bộ tiêu chí</span>
					</div>
				</div>
				<div class="col-md-1 arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
				<div class="col-md-2 stepTab" (click)="selectTab(3)" [ngStyle]="{'color': colorTex3}">
					<div class="center-text">
						<span class="number-span">03</span>
						<br>
						<span>Đính kèm thành <br> phần hồ sơ</span>
					</div>
				</div>
				<div class="col-md-1 arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
				<div class="col-md-2 stepTab" (click)="selectTab(4)" [ngStyle]="{'color': colorTex4}">
					<div class="center-text">
						<span class="number-span">04</span>
						<br>
						<span>Hoàn thành và <br> gửi hồ sơ</span>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div style="padding-left:100px">
			<div *ngIf="showTab == 1">
				<div style="font-size: 18px;color: #10192a;">Thông tin hồ sơ</div>
				<br>
				<div class="col-md-11 infor-tab1">
					<div class="row" style="padding-top:20px">
						<div class="col-md-2">
							<label>Mã hồ sơ:</label> <span style="color: red">*</span>
						</div>
						<div class="col-md-4">
							<dx-text-box [(value)]="code" displayExpr="code" placeholder="Chọn Mã hồ sơ" [showClearButton]="true" valueExpr="code" >
								<dx-validator>
									<dxi-validation-rule type="required" message="Mã hồ sơ không được để trống">
									</dxi-validation-rule>
								</dx-validator>
							</dx-text-box>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<label>Năm đề nghị:</label> <span style="color: red">*</span>
						</div>
						<div class="col-md-3">
							<dx-text-box [(value)]="year" displayExpr="name" placeholder="Chọn năm đề nghị" [showClearButton]="true" valueExpr="code" >
								<dx-validator>
									<dxi-validation-rule type="required" message="Năm đề nghị không được để trống">
									</dxi-validation-rule>
								</dx-validator>
							</dx-text-box>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-2">
							<label>Loại hồ sơ:</label> <span style="color: red">*</span>
						</div>
						<div class="col-md-7">
							<dx-select-box #donvi [(value)]="type_countryside" [dataSource]="arrNTM" displayExpr="name" placeholder="Chọn Loại hồ sơ" [showClearButton]="true" valueExpr="code" >
								<dx-validator>
									<dxi-validation-rule type="required" message="Loại hồ sơ không được để trống">
									</dxi-validation-rule>
								</dx-validator>
							</dx-select-box>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-2">
							<label>Tên đơn vị</label> <span style="color: red">*</span>
						</div>
						<div class="col-md-10">
							<dx-text-box [(value)]="name_unit" displayExpr="name_unit" placeholder="Tên đơn vị" [showClearButton]="true" valueExpr="code" >
								<dx-validator>
									<dxi-validation-rule type="required" message="Tên đơn vị không được để trống">
									</dxi-validation-rule>
								</dx-validator>
							</dx-text-box>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<div style="padding-left:30px">
			<div *ngIf="showTab == 2">
				<app-tab2 [dataTab2]='dataTab2'></app-tab2>
			</div>
		</div>
		<div style="padding-left:30px">
			<div *ngIf="showTab == 3">
				<app-tab3 [dataTab3]='dataTab2'></app-tab3>
			</div>
		</div>
		<div style="padding-left:30px">
			<div *ngIf="showTab == 4">
				<div style="font-size: 18px;color: #10192a;">Hoàn thành và gửi hồ sơ</div>
				<br>
				<div class="col-md-11 infor-tab1">
					<div class="row">
						<div class="col-md-3">
							<label>Nội dung:</label> <span style="color: red">*</span>
						</div>
						<div class="col-md-9">
							<dx-text-area [(value)]="content" displayExpr="name" valueExpr="code" ></dx-text-area>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3">
							<label>File đính kèm: </label> <span style="color: red">*</span>
						</div>
						<div class="col-md-9">
							<label for="file" class="label-upload" style="background: #ebeeef;border-radius: 10px;width: 100px;height: 30px;padding-top: 6px;">
								<span style="padding-left: 18px;font-size: 16px;">Chọn tệp</span>
							</label>
							<input hidden type="file" id="file" name="filename">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dx-fieldset">
        <dx-validation-summary id="summary"></dx-validation-summary>
    </div>
	<div class="modal-footer">
		<dx-button *ngIf="showTab == 4 || showTab == 3 || showTab == 2" text="Quay lại bước trước" (click)="backStep(showTab)" style="color:#ff0000">
		</dx-button>
		<dx-button *ngIf="showTab == 1 || showTab == 2 || showTab == 3" text="Chuyển bước tiếp theo" type="success" (click)="moveStep(showTab)">
        </dx-button>
		<dx-button text="Lưu tạm" [useSubmitBehavior]="true" style="background:#ffc13c;color:#000">
        </dx-button>
		<dx-button *ngIf="showTab == 4" text="Gửi" [useSubmitBehavior]="true" type="success">
        </dx-button>
		<!-- <dx-button text="Ghi" type="success" [useSubmitBehavior]="true">
        </dx-button> -->
		<dx-button text="Hủy" (click)="goback()">
		</dx-button>
	</div>
</form>