
.dx-field-value{
    padding-left: 5px;
}

.pull-left{
    padding-top: 10px;
}
.stepTab{
    width: 100px;
    height: 100px;
    background: #edededb3;
    border-radius: 5%;
    color: rgb(58, 74, 80,1);
}
.stepIndex{
    display: flex;
}
.number-span{
    font-size: 40px;
}
.center-text{
    text-align: center;
}
.arrow{
    padding-top: 40px;
    text-align: center;
    width: 100px;
    height: 100px;
}
.infor-tab1{
    border: #f1f1f1 100px;border-style: solid;border-width: medium;padding: 20px 100px 20px 100px; 
}

