<div class="panel panel-default panel-wrapper">
  <div class="pull-right button-panel">
    <!-- <dx-button (onClick)="add()" id="add" icon="fa fa-plus" text="Thêm"></dx-button> -->
    <!-- <dx-button (onClick)="evaluation()" id="define" [disabled]="!selectedItems.length || !selectedItem.length" icon="fa fa-sitemap" 
      text="Quản trị tiêu chí">
    </dx-button>
    <dx-button (onClick)="adjourn()" id="define" [disabled]="!selectedItems.length ||  this.selectedItem.length" icon="fa fa-edit" 
      text="Gia hạn đánh giá">
    </dx-button>
    <dx-button (onClick)="permission()" id="define" [disabled]="!selectedItems.length" icon="fa fa-user" 
      text="Phân quyền">
    </dx-button>
    <dx-button (onClick)="transfer()" id="define" [disabled]="!selectedItems.length" icon="fa fa-share-square-o" 
      text="Chuyển đơn vị">
    </dx-button>
    <dx-button (onClick)="edit()" [disabled]="!selectedItems.length || !selectedItem.length" id="edit" icon="fa fa-pencil-square-o"
    text="Sửa" ></dx-button> -->
    <dx-button (onClick)="delete()" [disabled]="!selectedItems.length" id="delete" icon="fa fa-trash" text="Xóa"></dx-button>
  </div>

  <div id="table-container">
      <div  id="table" class="table-responsive pmd-card pmd-z-depth">
        <dx-data-grid #grid
          [dataSource]="Evaluations"
          [wordWrapEnabled]="true" 
          (onSelectionChanged)="selectEvaluation($event)"
    [showRowLines]="true"
   >
          <dxo-paging [pageSize]="15"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 30, 50]" [showInfo]="true" [visible]="pageEnabled"></dxo-pager>
            <dxo-selection mode="multiple"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <!-- Các cột của bảng -->
            <dxi-column [width]="650" dataField="name" caption="Danh sách đợt"></dxi-column>
            <dxi-column  dataField="nameunit" alignment="left" caption="Cấp đơn vị"></dxi-column>
            <dxi-column [calculateCellValue]="convertFromdate" dataField="fromdate" alignment="left" caption="Từ ngày"></dxi-column>
            <dxi-column [calculateCellValue]="convertTodate" dataField="todate" alignment="left" caption="Đến ngày"></dxi-column>
            <dxi-column [width]="120" dataField="status" [calculateCellValue]="setStatus" alignment="left" caption="Tình trạng"></dxi-column>
          </dx-data-grid> 
      </div>
    </div>
</div>