


<form id="form" accept-charset="utf-8">
  <div class="modal-header">
      <h2 class="modal-title">Thiết kế mẫu temp đối tượng danh mục</h2>
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
          <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  </div>
  <div class="modal-body">
    <div class="build-wrap" style="padding: 10px;"></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <label>Thuộc Modules:</label> <span style="color: red">*</span>
            </div>
            <div class="col-md-6">
                <input type="text" id="Modules_path" name="Modules_path" [(value)]="Modules_path" class="form-control" >
                  <dx-validator>
                      <dxi-validation-rule type="required" message="Họ tên điều tra viên không được để trống">
                      </dxi-validation-rule>
                  </dx-validator>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
              <label>Mã controller:</label> <span style="color: red">*</span>
          </div>
          <div class="col-md-6">
              <input type="text" id="code" name="code" [(value)]="code" class="form-control" >
              <dx-validator>
                <dxi-validation-rule type="required" message="Họ tên điều tra viên không được để trống">
                </dxi-validation-rule>
            </dx-validator>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
              <label>Tên controller:</label> <span style="color: red">*</span>
          </div>
          <div class="col-md-6">
              <input type="text" id="name" name="name" [(value)]="name" class="form-control" >
              <dx-validator>
                <dxi-validation-rule type="required" message="Họ tên điều tra viên không được để trống">
                </dxi-validation-rule>
            </dx-validator>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
              <label>Url controller:</label> <span style="color: red">*</span>
          </div>
          <div class="col-md-6">
              <input type="text" id="url" name="url" [(value)]="url" class="form-control" >
              <dx-validator>
                <dxi-validation-rule type="required" message="url không được để trống">
                </dxi-validation-rule>
            </dx-validator>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
              <label>Icon controller:</label> <span style="color: red">*</span>
          </div>
          <div class="col-md-6">
              <input type="text" id="icon" name="icon" [(value)]="icon" class="form-control" >
              <dx-validator>
                <dxi-validation-rule type="required" message="icon không được để trống">
                </dxi-validation-rule>
            </dx-validator>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
              <label>Thứ tự:</label> <span style="color: red">*</span>
          </div>
          <div class="col-md-6">
              <input type="text" id="order" name="order" [(value)]="order" class="form-control" >
              <dx-validator>
                <dxi-validation-rule type="required" message="Thứ tự không được để trống">
                </dxi-validation-rule>
            </dx-validator>
          </div>
        </div>
        <!-- <br>
        <div class="row">
          <div class="col-md-4">
              <label>Trạng thái:</label> <span style="color: red">*</span>
          </div>
          <div class="col-md-6">
              <input type="text" id="status" name="status" [(value)]="status" class="form-control" >
              <dx-validator>
                <dxi-validation-rule type="required" message="Trạng thái không được để trống">
                </dxi-validation-rule>
            </dx-validator>
          </div>
        </div> -->
    </div>
  </div>
  <div class="modal-footer">
  <dx-button
      (click)="onSubmit()"
      text="Cập nhật"
      type="default"
      validationGroup="listtypeData">
  </dx-button>
  <dx-button
      text="Quay lại"
      (click)="bsModalRef.hide()">
  </dx-button>
  </div>
</form>