<form id="form-list-update" (submit)="onSubmit()" id="form">
  <div class="modal-header">
      <h2 class="modal-title">Cập nhật controller</h2>
      <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
          <i class="fa fa-times" aria-hidden="true"></i>
      </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
            <label style="color:#333333">Thuộc Modules:</label> <span style="color: #ff6000;font-weight: 700;padding: 10px;"> {{Modules_path}}</span>
        </div>
    </div><br>
      <dx-form [colCount]="1" [formData]="menus" [readOnly]="false"
        [showColonAfterLabel]="true" [showValidationSummary]="true">
        <dxi-item itemType="group">
          <!-- <dxi-item itemType="group">
            <dxi-item [editorOptions]="{ disabled: true }" [label]="{text: 'Thuộc Modules'}"
              dataField="Modules_path"></dxi-item>
          </dxi-item> -->
          <dxi-item [label]="{text: 'Mã controller'}" dataField="code" [editorOptions]="{ tabIndex: 2 }">
            <dxi-validation-rule type="required" message="Mã controller không được để trống">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item itemType="group">
            <dxi-item [label]="{text: 'Tên controller'}" dataField="name" [editorOptions]="{ tabIndex: 2 }">
              <dxi-validation-rule type="required" message="Tên controller không được để trống">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item [label]="{text: 'Url controller'}" dataField="url" [editorOptions]="{ tabIndex: 2 }">
              <dxi-validation-rule type="required" message="Url controller không được để trống">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item [label]="{text: 'Icon'}" dataField="icon" [editorOptions]="{ tabIndex: 2 }">
              <dxi-validation-rule type="required" message="Icon không được để trống">
              </dxi-validation-rule>
            </dxi-item>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="group">
          <dxi-item [label]="{text: 'Thứ tự hiển thị'}" [editorOptions]="{ tabIndex: 10 }" dataField="order">
          </dxi-item>
          <dxi-item [label]="{text: 'Trạng thái'}" dataField="status" editorType="dxCheckBox" [editorOptions]="{ 
            text: 'Hoạt động',tabIndex: 12
          }">
          </dxi-item>
        </dxi-item>
      </dx-form>
    </div>
  </div>
  <div class="modal-footer">
      <dx-button
          text="Cập nhật"
          type="default"
          [useSubmitBehavior]="true">
      </dx-button>
      <dx-button
          text="Quay lại"
          (click)="bsModalRef.hide()">
      </dx-button>
  </div>
</form>