<header class="app-header navbar {{class_header}}">
  <img style="width: 8%;" src="assets/img/logo.png" class="img-avatar" alt="admin@bootstrapmaster.com" />

  <div class="hty-header-banner d-md-down-none">
    <span style="color:aliceblue;font-size:22px;font-weight: 600;">KHOA CHẨN ĐOÁN HÌNH ẢNH</span>
  </div>
  <ul class="nav navbar-nav ml-auto" style="margin-right: 12px;">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <div class="infor-user" style="display: flex;">
          <div>
            <button mat-menu-item>
              <a class="dropdown-item" (click)="changePassword()">
                <i class="fa fa-shield"></i> Đổi mật khẩu</a>
            </button>
          </div>
          <div>
            <button mat-menu-item>
              <a class="dropdown-item" (click)="logout()">
                <i class="fa fa-lock"></i> Thoát</a>
            </button>
          </div>
      </div>
    </li>
  </ul>
</header>
