<form id="form-list-update" (submit)="onSubmit($event)" id="form">
  <div class="modal-header">
    <h2 class="modal-title" style="font-size: 20px;font-family: initial;">Copy đối tượng</h2>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  </div>
  <br>
  <div>
    <div class="col-md-12">
      <div><label>Đợt đánh giá</label> <span style="color: red;">*</span></div>
      <dx-select-box [value]="evaluation_id" [dataSource]="evaluation"
        (onSelectionChanged)=" evaluationchange($event)" displayExpr="name" wordWrapEnabled="true"
        placeholder="Chọn đợt đánh giá" [showClearButton]="true" valueExpr="id">
        <dx-validator>
          <dxi-validation-rule type="required" message="Đợt đánh giá không được để trống"></dxi-validation-rule>
        </dx-validator>
      </dx-select-box>
    </div>
  </div>
  <div class="modal-body">
    <div><label>Chọn đối tượng cho đợt đánh giá đã chọn</label> <span style="color: red;">*</span></div>
    <div id="table-container">
      <div id="table" class="table-responsive pmd-card pmd-z-depth">
        <dx-data-grid  [dataSource]="ListSubject"  [wordWrapEnabled]="true" [showColumnLines]="true"
        [showRowLines]="true"
        [showBorders]="true"  (onSelectionChanged)="selectionChangedSubject($event)"      >
          <dxo-paging [pageSize]="15"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 30, 50]" [showInfo]="true"></dxo-pager>
          <dxo-selection mode="multiple"></dxo-selection>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <!-- Các cột của bảng -->
          <dxi-column [width]="200" dataField="name" caption="Họ tên"></dxi-column>
          <dxi-column dataField="email" caption="Email"></dxi-column>
          <dxi-column dataField="position" caption="Chức vụ"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <dx-button text="Copy" type="default" [useSubmitBehavior]="true">
    </dx-button>
    <dx-button text="Quay lại" (click)="bsModalRef.hide()">
    </dx-button>
  </div>
</form>