
<div class="modal-header" style="background-color: #1976D2; height: 50px;">
    <h2 class="modal-title" style="color: white; font-family: 'Times New Roman', Times, serif; font-size: 16px; text-align: center;">CHI TIẾT THÔNG BÁO</h2>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
      <div class="container"> 
      </div>
  </div>
  <div class="modal-footer">
    <dx-button text="Đóng" (click)="bsModalRef.hide()" class="btn btn-primary">
    </dx-button>
  
  </div>