<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div id='app-loading'></div>
<div style="padding:10px 0px;">
  <div class="pull-left" style="width:38%">
    &nbsp;
  </div>
  <div class="pull-left" style="width:38%">
    <div class="input-group">
      <input style="height: 36px;" id="txt_search" class="form-control input-sm" value="" type="text" placeholder="Tìm kiếm tên tài khoản...">
      <span class="input-group-btn">
      <button style="padding: 7px 16px !important;" (click)="searchUser()" class="btn btn-primary" data-loading-text="Tìm kiếm tên tài khoản..." type="button"><i class="fa fa-search" aria-hidden="true"></i></button></span>
    </div>
  </div>
  <div class="pull-right button-panel">
    <dx-button *ngIf="showButtonAdd" (onClick)="add()" id="add" (mouseenter)="toggleAdd()"
    (mouseleave)="toggleAdd()" icon="fa fa-plus" text="" type="default"></dx-button>
    <dx-button (onClick)="edit()" id="edit" (mouseenter)="toggleEdit()"
    (mouseleave)="toggleEdit()" icon="fa fa-pencil-square-o" type="success"></dx-button>
    <dx-button (onClick)="delete()" id="delete" (mouseenter)="toggleDelete()"
    (mouseleave)="toggleDelete()" icon="fa fa-trash" text="" type="danger"></dx-button>
    <dx-tooltip
    target="#add"
    [(visible)]="defaultAdd">
      <span *dxTemplate="let data = data of 'content'">
      Thêm
      </span>
    </dx-tooltip>
    <dx-tooltip
    target="#edit"
    [(visible)]="defaultEdit">
      <span *dxTemplate="let data = data of 'content'">
      Sửa
      </span>
    </dx-tooltip>
    <dx-tooltip
    target="#delete"
    [(visible)]="defaultDelete">
      <span *dxTemplate="let data = data of 'content'">
      Xóa
      </span>
    </dx-tooltip>
  </div>
</div>
<div id="table-container">
    <div id="table" class="table-responsive pmd-card pmd-z-depth">
      <p  style="padding-top: 10px;color:#333;"><i class="fa fa-university" style="color: #605ca8;padding-right: 5px;font-size: 18px"></i><span (click)="getdataRoot()" style="font-size: 18px;color: #ff6609;font-weight: 600;">Tỉnh YÊN BÁI</span></p>
      <div class="col-md-4" style="float:left;margin-left:-2%">
      <ul *ngFor="let group of arr; index as i">
        <div class="nested-menu">
          <a class="nav-link nav-dropdown-toggle" mat-list-item (click)="onclickSidebar(group)">
              <span class="sidebar-text" (click)="selectedNode(group)"><i class="fa fa-university" style="color: #605ca8;padding-right: 5px;font-size: 16px;"></i> <span style="font-size: 16px;color: #242c30;font-family: math;">{{ group.value }}</span></span>
          </a>
          <ul class="nested submenu" [class.expand]="getShowHide(group)" style="margin-left: 8%">
                <ul *ngFor="let group_chill of group.children; index as i">
                  <span class="sidebar-text"  (click)="selectedNode(group_chill)"><i class="fa fa-square  fa-hight folder-lv3" style="color:#286090"></i> <span style="font-size: 14px;color: #242c30;"> {{ group_chill.value }}</span></span>
                </ul>
          </ul>
        </div>
      </ul>
      </div>
      <div class="col-md-8" style="float:left">
        <div class="col-md-8" style="padding:0px 0 10px 0;font-size: 14px">
          <p style="padding-top: 10px;color:#333;" *ngIf="showTableCoquan"><i class="fa fa-university" style="color: #605ca8;padding-right: 5px;"></i>Tỉnh YÊN BÁI</p>
          <p style="padding-top: 10px;color:#333;" *ngIf="showTableDonvi"><i class="fa fa-university" style="color: #605ca8;padding-right: 5px;"></i>{{getNameDonvi}}</p>
          <p style="padding-top: 10px;color: #333;" *ngIf="showTableUser"><i class="fa fa-university" style="color: #605ca8;padding-right: 5px;"></i>{{getNameParent}} / <i class="fa fa-square" style="color: #605ca8;padding-right: 5px;"></i>{{getNameUnit}}</p>
        </div>
        <div class="table-responsive pmd-card pmd-z-depth"> 
          <app-department *ngIf="showTableDonvi" [departments] = "departments"></app-department> 
          <app-users *ngIf="showTableUser" [users] = "users"></app-users>      
          <app-search *ngIf="showSearch" [userSearch] = "userSearch"></app-search> 
        </div>
      </div>
    </div>
</div>