::ng-deep .dx-datagrid .dx-column-lines > td{
    border-top: 1px solid #ddd;
}

::ng-deep .dx-datagrid-rowsview{
    border: none;
}
::ng-deep .dx-datagrid-borders > .dx-datagrid-headers{
    border-top:none;
}
::ng-deep .app-footer{
    border: none;
}
#table{
    border: none;
}