<ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last = last>
   <li class="breadcrumb-item"
       *ngIf="breadcrumb.label.title&&breadcrumb.url.substring(breadcrumb.url.length-1) == '/'||breadcrumb.label.title&&last"
       [ngClass]="{active: last}">
     <a *ngIf="!last" [routerLink]=""><i class="fa fa-home"></i> {{breadcrumb.label.title}}</a>
     <span *ngIf="last" [routerLink]=""><i class="fa fa-home"></i> Trang chủ / {{breadcrumb.label.title}}</span>
   </li>
 </ng-template>