.row.row-equal {
  padding-right: ($grid-gutter-width / 4);
  padding-left:  ($grid-gutter-width / 4);
  margin-right: ($grid-gutter-width / -2);
  margin-left:  ($grid-gutter-width / -2);

  [class*="col-"] {
    padding-right: ($grid-gutter-width / 4);
    padding-left:  ($grid-gutter-width / 4);
  }
}

.main .container-fluid {
  padding: 0 2px;
}

.pmd-card {
  border: 1px solid #E4E5E6;
}

.pull-right {
  margin-bottom: 2px;
}

.dx-header-row {
  font-weight: bold;
  background-color: #F5F5F5;
}

.dx-column-lines-color {
  background-color: #f9f9f9
}

.dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td{
  background-color: #dae5fb !important;
}

.dx-datagrid-rowsview .dx-select-checkboxes-hidden .dx-select-checkbox {
  display: block!important;
}

.dx-treelist-select-all .dx-checkbox {
  background-color: #F5F5F5!important;
}