<div id="table-container">
	<div id="table" class="table-responsive pmd-card pmd-z-depth">
		<dx-tree-list #grid id="tasks" [dataSource]="listData" keyExpr="id" parentIdExpr="parrent_id" [columnAutoWidth]="true" [wordWrapEnabled]="true"  [showRowLines]="true" >
			<dxo-filter-row [visible]="true"></dxo-filter-row>
			<dxo-selection mode="multiple">
			</dxo-selection>
			<dxi-column alignment="left" dataField="name" dataType="string" caption="Tên tài liệu"></dxi-column>
			<dxi-column alignment="left" [width]="350" cellTemplate="code_tp" dataField="code_tp" dataType="string" caption="Tệp đính kèm">
				<div *dxTemplate="let cell of 'code_tp'">
					<div class="col-md-12" *ngIf="cell.data.dataFile != '' && cell.data.dataFile != null">
						<img src='assets/img/icons/attach_file.gif' />
							<a target="_blank" style="word-break: break-word;" (click)="openfile(cell.data.dataFile['all'])">{{cell.data.dataFile['nameFile']}}</a>
							<img src='assets/img/icons/square_delete.png' (click)="removeonserver(cell.data)" />
					</div>
					<br>
					<div class="col-md-5">
						<!-- <label for="{{cell.code}}" class="label-upload" style="background: #ebeeef;border-radius: 10px;width: 100px;height: 30px;padding-top: 3px;">
							<span style="padding-left: 18px;font-size: 16px;">Chọn tệp</span>
						</label>
						<input hidden type="file" id="{{cell.code}}" (change)="handleFileInput($event,cell)" name="filename"> -->
						<input type="file" id="{{cell.code}}" (change)="handleFileInput($event,cell)" style="color: transparent">		
					</div>
				</div>
			</dxi-column>
		</dx-tree-list>
	</div>
</div>